h1 {
    font-size: 50px;
    font-family: 'Gloria Hallelujah', cursive;
}

.column {
    float: left;
    margin: 2%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.slider {
	width: 300px;
}
